.landing .container {}

.landing__container__header {
    align-content: center;
    display: grid;
    height: 40vh;
    min-height: 450px;
    margin-bottom: 40px;
    max-width: 65%;
}

.landing__container__header p { 
    margin-top: 10px;
    margin-bottom: 40px;
}

.landing__container__header__buttons { 
    display: flex;
}

.landing__container__header__buttons button { 
    height: fit-content;
    margin-bottom: 1rem;
    margin-top: auto;
}

@media only screen and (max-width: 768px) {
    .landing__container__header { 
        max-width: 100%;
    }
}