.room { 
    margin-top: 40px;
}

.room__clock {
    margin-bottom: 40px;
}

.room__periods { 
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.room__period {
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin-bottom: 5px;
    padding: 10px 20px;
    user-select: none;
    transition: all .1s ease-in-out;
    font-size: 12px;
}

.room__period.active {
    background: rgba(255, 255, 255, 0.05);
}

.room__period:hover,
.room__period:focus {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.room__period__status { 
    display: flex;
}

.room__period__status__time { 
    display: flex;
    margin-left: auto;
}

.room__period__status__type { 
    display: flex;
}

.room__period__status .room__period__upcoming__circle { 
    background: rgb(0, 255, 234);
    border-radius: 50%;
    height: 5px;
    margin-right: 10px;
    margin-top: 6px;
    width: 5px;
}

.room__period__status .room__period__active__circle { 
    background: rgb(0, 255, 76);
    border-radius: 50%;
    height: 5px;
    margin-right: 10px;
    margin-top: 6px;
    width: 5px;
}

.room__period__status .room__period__break__circle { 
    background: rgb(246, 255, 0);
    border-radius: 50%;
    height: 5px;
    margin-right: 10px;
    margin-top: 6px;
    width: 5px;
}

.room__period__advanced { 
    margin-top: 5px;
}