.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 12px;
}

.form-group input,
.form-group textarea {
    display: block;
    width: 100%;
    padding: 8px 16px;
    font-size: 12px;
    background: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 0px !important;
    outline: none;
}

.form-group input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(100%) sepia(13%) saturate(0%) hue-rotate(130deg) brightness(100%) contrast(100%);
}